*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    background-color: #F3F5FC;
    height: 100vh;
    width: 100%;
    padding: 40px;
    gap: 4%;
}
#leftSide{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 60px;
}

#logoBox{
    display: flex;
    align-items: center;
    gap: 2vh;
}

.logoImage{
    height: 5vh;
}

.inputBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#mainInput{
    height: 50vh;
    padding: 10px;
    resize: none;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 40px;
    border-radius: 10px;
}

#mainInput::placeholder{
    color: #000;
}
textarea:focus{
    outline: 0;
} 
label{
    color: #495057;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1%;
}
.buttonBox{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 15px;

}
.button{
    width: 35%;
    min-width: 150px;
    padding: 2.8%;
    border-radius: 24px;
    font-weight: 500;
    background: none;
    font-size: 17px; 

}
#btn1:hover{
    opacity: 90%;
    cursor: pointer;
}
#btn1{
    background-color: #343A40;
    color: white;
}
#btn2:hover{
    background-color: #343a4015;
    cursor: pointer;
}



#rightSide{
    background-color: white;
    border-radius: 20px;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 50%;
    align-items: center;
    height: 100%;
}

#imageNotFoundBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    margin-top: 5%;
}

.imageNotFound{
    width: 50%;
}

#labelImage{
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

.imageDescription{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 60%;
    color: #495057;
}
.hide{
    display: none;
}
#resultBox{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}
#result{
    font-size: 1.7rem;
    width: 100%;
    max-height: 90%;
    word-wrap: break-word;
    text-align: start;
}