*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    background-color: #F3F5FC;
    height: 100vh;
    width: 100%;
    padding: 40px;
    gap: 10%;
}
#leftSide{
    display: flex;
    flex-direction: column;
    flex-grow: 3;

}

#logoBox{
    display: flex;
    align-items: center;
    gap: 2vh;
}

.logoImage{
    height: 5vh;
}

.inputBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#rightSide{

    background-color: white;
    flex-grow: 5;
}
